@media screen and (max-width: 400px) {

	.title {
		font-size: 1.9rem;
	}
	
	.text {
		font-size: 1.8rem;
	}
	
	.container {
		max-width: 310px;
		margin: 0 auto;
	}
	
	.header {
			&__title {
				font-size: 3rem;
			}
	}
	
	.work {
		display: flex;
		justify-content: center;
	}
	
	.form {
	
			&__box {
				padding: 10px 0px 10px 0px;
			}
	
			&__input {
				font-size: 1.8rem;
				max-width: 200px;
				padding: 3px 7px 3px 7px;
			}
	
			&__btn {
				font-size: 1.8rem;
				padding: 3px 7px 4px 7px;
			}

			&__btn:active {
				background-color: rgb(125, 125, 125);
				transition-duration: 0.5s;
			}
	}
	.sound {

			&__img {
				width: 30px;
				height: 30px;
			}
	
	}
	
	.theme {
		right: 10px;
		top: 10px;
	}

}

@media screen and (min-width: 401px) and (max-width: 600px) {

	.container {
		max-width: 400px;
		margin: 0 auto;
	}

	.sound {

		&__img {
			width: 30px;
			height: 30px;
		}

}

	.title {
		font-size: 2rem;
	}

	.text {
		font-size: 1.8rem;
	}

	.theme {
		right: 15px;
		top: 15px;
	}

}

@media screen and (min-width: 601px) and (max-width: 840px) {

	.container {
		max-width: 600px;
		margin: 0 auto;
	}

	.sound {

		&__img {
			width: 30px;
			height: 30px;
		}

}

	.title {
		font-size: 2rem;
	}

	.text {
		font-size: 1.8rem;
	}

	.theme {
		right: 15px;
		top: 15px;
	}

}